/*fonts.css*/

@font-face {
    font-family: 'Fira Sans'; /* Pop!_OS */
    src: url(../woff/FiraSans-Regular.woff) format('woff'),
         url(../woff2/FiraSans-Regular.woff2) format('woff2');
  }

@font-face {
    font-family: 'Comfortaa'; /* Manjaro */
    src: url(../woff/Comfortaa-Regular.woff) format('woff'),
         url(../woff2/Comfortaa-Regular.woff2) format('woff2');
  }

@font-face {
     font-family: 'SourceCodePro'; /* Manjaro */
     src: url(../woff/SourceCodePro.woff) format('woff'),
          url(../woff2/SourceCodePro.woff2) format('woff2');
   }

@font-face {
     font-family: 'System San Francisco'; /* i3 riced */
     src: url("../woff/System San Francisco Display Regular.woff") format('woff'),
          url("../woff2/System San Francisco Display Regular.woff2") format('woff2');
   }

@font-face {
     font-family: 'System San Francisco Thin'; /* i3 riced thin */
     src: url("../woff/System San Francisco Display Thin.woff") format('woff'),
          url("../woff2/System San Francisco Display Thin.woff2") format('woff2');
   }

   @font-face {
     font-family: 'System San Francisco Ultralight'; /* i3 riced thin */
     src: url("../woff/System San Francisco Display Ultralight.woff") format('woff'),
          url("../woff2/System San Francisco Display Ultralight.woff2") format('woff2');
   }