/*gallery-btns.css*/
:root {
    --destinations: 3;
}
.dest {
    position: absolute;

    width: 40%;
    margin-left: 30%;
    margin-right: 30%;

    font-family: 'SourceCodePro';
    font-weight: bold;
    font-size: 38px;

    background-color: transparent;
    text-shadow: 8px 8px 20px black;
    border: none;

    z-index: 10;
    color: black;
}

.dest:hover {
    z-index: 10;
}

#jp_sd {
    top: calc(var(--destinations) * 100vh - 240vh);
    color: #ffffff;
}

#jp_sd:hover {
    color: #ffd1dc;
}

#jp_ny {
    top: calc(var(--destinations) * 100vh - 140vh);
    color: #ffffff;
}

#jp_ny:hover {
    color: #ffd1dc;
}

#jp_t {

    top: calc(var(--destinations) * 100vh - 40vh);
}

#jp_t:hover {
    color: #9C6DA5;
}