/* main.css */
#homeBtn {
    position: fixed;
    text-align: left;
    color: #000000;
    font-size: 28px;
    text-shadow: 4px 4px 10px #dcd0ff; /* horizontal, vertical, blur, color */
    user-select: none;
    height: 4vh;
    top: 1vh;
    left: 0.25vw;
    z-index: 150;
    background-color: none;
    background: none;
    border: none;

    font-family: 'System San Francisco Thin';
    text-decoration: none;
}

#homeBtn:hover {
    text-decoration: underline;
}