/* popup-buttons.css */

.gallery-btns button {
    position: absolute;
    height: 4vh;
    width: 100px; /* Set an initial width */
    left: 17vw;
    background-color: transparent; /* Make the button transparent initially */
    z-index: 1;
    transition: width 0.3s, background-color 0.3s; /* Add transition for a smooth effect */
    content: "";
    border-width: medium;
    font-family: 'Fragmentcore', 'bold';
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    color: black;
}

.gallery-btns #b1 {
    top: 10vh;
}

.gallery-btns #b2 {
    top: 15vh;
}

.gallery-btns #b3 {
    top: 20vh;
}

.gallery-btns #b4 {
    top: 25vh;
}

.gallery-btns #b5 {
    top: 30vh;
}

.gallery-btns #b6 {
    top: 35vh;
}

.gallery-btns #b7 {
    top: 40vh;
}

.gallery-btns button:hover {
    background-color: rgb(240, 240, 240);
    color: rgb(30, 30, 30);
    width: 6.5vw;
}

.gallery-btns button:hover:after {
    font-size: 28px;
}